body{ font-family: "Playfair Display", serif;
      background-color: blanchedalmond;
}
h1 {color: rgb(18, 75, 18);  font-size: 3Opt; text-align:center; text-decoration: underline;  text-decoration-style: wavy; }
h2 {color: rgb(18, 75, 18); text-align:center; text-decoration: underline; }
p::first-letter { font-size: 32px;}
footer {font-size: 11px;}
p, label, li, td, th {color: rgb(8, 45, 94);}
